## Reshaping pandas DataFrame
Occasionaly we need to rotate pandas dataframe so that the unique values of some column becomes the column names. This can be achieved by using pandas 'pivot' function.

In [4]:
import pandas as pd
import pandas.util.testing as tm; tm.N = 3
import numpy as np

In [9]:
def unpivot(frame):
    N, K = frame.shape
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns=['date', 'variable', 'value'])
df = unpivot(tm.makeTimeDataFrame())

In [10]:
df.head()

        date variable     value
0 2000-01-03        A -2.731334
1 2000-01-04        A -0.893273
2 2000-01-05        A -0.006488
3 2000-01-03        B -0.565996
4 2000-01-04        B  1.809394

In [8]:
df.pivot(index='date', columns='variable', values='value')

variable           A         B         C         D
date
2000-01-03  0.752401 -1.038514 -0.346520 -1.219137
2000-01-04 -0.733321 -0.596306 -0.818557  0.894635
2000-01-05 -0.446212  0.345319  1.079299  0.832214